
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


$slider-nav-color: #f9522d;



a {
    color: inherit;
    font-weight: bold;
}

a:hover {
    color: inherit;
}

form label {
    display: none;
}

.btn-primary {
    background-color: #F9522D;
    border-color: #F9522D;
    color: #fff;
}

.btn-primary:hover {
    background-color: #C34432;
    border-color: #C34432;
}

.btn-outline-primary {
    border-color: #F9522D;
    color: #F9522D;
}

.btn-outline-primary:hover {
    background-color: #F9522D;
    border-color: #F9522D;
    color: #fff;
}


.navbar-brand img {
    display: inline-block;
    float: left;
    vertical-align: middle;
    width: 2.8rem;
}

.navbar-brand span {
    display: inline-block;
    float: left;
    font-size: 1.4rem;
    line-height: 2.8rem;
    margin-left: 1rem;
    padding: 0;
    text-transform: uppercase;
}


.date-icon {
    display: block;
    font-family: Helvetica, sans-serif;
    font-size: 0.8rem;
    margin: 0.5em auto 0;
    max-width: 4.6rem;
    position: relative;
    text-align: center;
}

.date-icon .month {
    background: #F9522D;
    color: #fff;
    display: block;
    font-weight: bold;
    padding: 2px;
    text-align: center;
}

.date-icon .day {
    border: 1px solid #F9522D;
    border-width: 0 1px;
    display: block;
    font-size: 1.6rem;
    margin: 0;
    position: relative;
}

.date-icon .year {
    border: 1px solid #F9522D;
    color: #F9522D;
    display: block;
}


.date-text {
    font-style: italic;
}

p.subtitle {
    font-style: italic;
    font-size: 1rem;
    font-weight: 100;
}

#blog-preview p, #blog-page p, #work-preview p, #page-resume p, #project-preview p, #project-page p, #testimonials-preview {
    font-size: 1.125rem;
    font-weight: 300;
}

#work-preview img, #page-resume img {
    max-height: 7rem;
    max-width: 8rem;
}

#projects-preview img, #projects-page img {
    max-height: 7rem;
    max-width: 8rem;
}

footer {
    color: #999;
}

.footer-contact {
    font-size: 2rem;
    margin-top: 1rem;
    padding: 1rem 2rem;
}


/**
 *  Resume
 */


/* Abilities
-----------------------------------------------------------------------------*/

section#abilities .ability {
    margin-top: 3rem;
    padding: 0 2rem;
    text-align: left;
}

section#abilities .ability div {
    font-size: 500%;
    line-height: 1.2;
    text-align: center;
}

section#abilities .ability-1 div {
    color: #53a57a;
}

section#abilities .ability-2 div {
    color: #2964aa;
}

section#abilities .ability-3 div {
    color: #d85f55;
}

section#abilities .lead {
    margin-bottom: 1rem;
}

/* /Abilities */


/* Skills
-----------------------------------------------------------------------------*/

section#skills .skill {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    padding: 0;
}

section#skills .skill:hover {
    -webkit-filter: saturate(100%);
    -moz-filter: saturate(100%);
    -o-filter: saturate(100%);
    -ms-filter: saturate(100%);
    filter: saturate(100%);
    opacity: 1;
}

section#skills .skill span {
    background: transparent !important;
    border: none;
    color: transparent;
    text-align: center;
}

section#skills .thumbnail {
    background-color: #f5f8fa;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    line-height: 1.428571429;
    margin-bottom: 20px;
    padding: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}

section#skills .thumbnail > img,
section#skills .thumbnail span > img {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

section#skills .thumbnail .caption {
    color: #333333;
    padding: 9px;
}

section#skills a.thumbnail:hover,
section#skills a.thumbnail:focus,
section#skills a.thumbnail.active {
    border-color: #337ab7;
}

/* Extra-small devices (phones, less than 768px) */
@media (max-width: 767px) {
    section#skills .skill span {
        padding: 1rem 1.7rem;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    section#skills .skill span {
        padding: 1rem 2.3rem;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    section#skills .skill span {
        padding: 1rem 2.5rem;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    section#skills .skill span {
        padding: 1rem 3rem;
    }
}

/* /Skills */


/* Education
-----------------------------------------------------------------------------*/

section#education img {
    max-height: 4rem;
    max-width: 5rem;
}

section#education p {
    margin-bottom: 0;
    font-weight: 300;
}

section#education span {
    font-style: italic;
}

/* /Education */



/* Testimonial
-----------------------------------------------------------------------------*/

.testimonial {
    margin-bottom: 2rem;
    margin: 0 auto 2.5rem;
}

.testimonial .quote {
    font-size: 1.5rem;
    margin: 0 auto 2rem;
    max-width: 78%;
}

.testimonial .name {
    font-weight: 700;
    text-align: center;
}
.testimonial .position {
    font-style: italic;
    text-align: center;
}


/* Slider
-----------------------------------------------------------------------------*/

.slider {
    position: relative;
}

.slider input[name="slider-button"] {
    display: none
}

.slider-nav {
    margin: 0.25rem 0 3rem;
    text-align: center;
    z-index: 1;
}
@media screen and (min-width: 769px) {
    .slider-nav {
        margin: 1rem 0 3.5rem;
    }
}
@media screen and (min-width: 1280px) {
    .slider-nav {
        margin: 1rem 0 .5rem;
    }
}

.slider-nav label {
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin: 0 6px;
    transition: background-color 0.25s;
    width: 15px;
}

.slider-slides {
    overflow: hidden;
    width: 100%;
}

.slider-slides .slider-inner {
    transition: margin 0.5s;
    width: 500%;
}

.slider-slides .slider-item {
    float: left;
    width: 20%;
}

#slide-1:checked ~ .slider-nav label[for="slide-1"] {
    background-color: $slider-nav-color;
    border: 2px solid $slider-nav-color;
}
#slide-1:checked ~ .slider-slides .slider-inner {
    margin-left: 0%;
}

#slide-2:checked ~ .slider-nav label[for="slide-2"] {
    background-color: $slider-nav-color;
    border: 2px solid $slider-nav-color;
}
#slide-2:checked ~ .slider-slides .slider-inner {
    margin-left: -100%;
}

#slide-3:checked ~ .slider-nav label[for="slide-3"] {
    background-color: $slider-nav-color;
    border: 2px solid $slider-nav-color;
}
#slide-3:checked ~ .slider-slides .slider-inner {
    margin-left: -200%;
}

#slide-4:checked ~ .slider-nav label[for="slide-4"] {
    background-color: $slider-nav-color;
    border: 2px solid $slider-nav-color;
}
#slide-4:checked ~ .slider-slides .slider-inner {
    margin-left: -300%;
}

#slide-5:checked ~ .slider-nav label[for="slide-5"] {
    background-color: $slider-nav-color;
    border: 2px solid $slider-nav-color;
}
#slide-5:checked ~ .slider-slides .slider-inner {
    margin-left: -400%;
}
